@font-face {
    font-family: 'Iosevka Semibold Oblique';
    src: url(iosevka-semiboldoblique.ttf);
}

*{
    font-family: 'Iosevka Semibold Oblique', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.492);
    color: white;
}

body{
    padding: 0;
    margin: 0;
}

img.background{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100vw;
    /* -webkit-filter: blur(5px); /* For Safari 6.0 - 9.0 */
    /* filter: blur(2px); */
}

h1{
    margin-top: 2vh;
    text-align: center;
    color: white;
    font-size: 50px;
}

img.monke{
    margin-top: 6vw;
    margin-left: 37vw;
    width: 25vw;
}

div.bottom-right{
    bottom: 0;
    overflow: hidden;
    position: fixed;
    margin-bottom: 0.5vw;
    margin-left: 0.5vw;
    width: 99vw;
}

a.title{  
    text-decoration: none;
    color: white;
}

p.title{
    margin: 0;
    text-align: right;
}

img.moon-icon{
    cursor: pointer;
    margin-left: 96vw;
    margin-bottom: 0.5vw;
    width: 2.5vw;
}

.response{
    display: none;
    position: fixed;
    margin-left: 1000vw;
}

@media screen and (max-width: 1100px){
    img.background{
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 170vw;
    }
}

@media screen and (max-width: 800px){
    img.background{
        float: left;
        position: fixed;
        margin-left: -40vw;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 230vw;
    }
}

@media screen and (max-width: 500px){
    body{
        background-color: black;
    }

    img.monke{
        margin-top: 30vh;
        margin-left: 25vw;
        width: 50vw;
    }

    img.background{
        float: left;
        position: fixed;
        margin-left: -40vw;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 200vh;
    }

    h1{
        margin-top: 1vh;
        font-size: 35px;
    }
    
    p.title{
        font-size: 0.8rem;
    }

    img.moon-icon{
        margin-left: 90vw;
        margin-bottom: 0.5vw;
        width: 6vw;
    }

    p.response{
        display: block;
        margin-left: 0;
        text-align: center;
        font-size: 10px;
    }
}